@using InventoryTracker.Shared.Enums
<aside class="hidden lg:flex flex-col fixed left-0 top-0 h-full w-64 bg-slate-50 border-r z-40">

    <div class="px-6 py-6">
        <h1 class="text-lg font-black text-blue-700">Inventory Tracker</h1>
        <p class="text-[10px] uppercase text-slate-400 font-bold">Operator Portal</p>
    </div>

    <nav class="flex flex-col gap-1 px-2">

        <a asp-controller="Dashboard"
               asp-action="Index"
               method="get"
               class="px-4 py-3 rounded-xl bg-blue-50 text-blue-700 font-semibold">
            Dashboard
        </a>

        <a asp-controller="Transactions"
               asp-action="Index"
               asp-route-type="@TransactionType.ReturnFromClient"
               class="px-4 py-3 rounded-xl hover:bg-slate-100">
            Returns
        </a>

        <a asp-controller="Transactions"
               asp-action="Index"
               asp-route-type="@TransactionType.IssueToClient"
               class="px-4 py-3 rounded-xl hover:bg-slate-100">
            Issues
        </a>

        <a asp-controller="Transactions"
               asp-action="Index"
               asp-route-type="@TransactionType.TransferBetweenWarehouses"
               class="px-4 py-3 rounded-xl hover:bg-slate-100">
            Transfers
        </a>

        <a asp-controller="Transactions"
               asp-action="Index"
               asp-route-type="@TransactionType.Adjustment"
               class="px-4 py-3 rounded-xl hover:bg-slate-100">
            Adjustments
        </a>

        <a asp-controller="Transactions"
               asp-action="Index"
               asp-route-status="@TransactionStatus.Draft"
               class="px-4 py-3 rounded-xl hover:bg-slate-100">
            All Drafts
        </a>

        <a asp-controller="Transactions"
               asp-action="Index"
               class="px-4 py-3 rounded-xl hover:bg-slate-100">
            All Transactions
        </a>


    </nav>

</aside>